<footer>
    <p>
      تم التطوير بـ
      <i class="fa fa-coffee" aria-hidden="true"></i>
      و
      <i class="fa fa-heart" aria-hidden="true"></i>
      من طرف  <a href="/about">ياسين سدراني</a> &nbsp; - &nbsp;
      المحتوى مرخص برخصة المشاع الإبداعي
      <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.ar">CC BY-SA 3.0</a>
    </p>
</footer>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
<script src="https://use.fontawesome.com/1b9eeb893b.js"></script>
